{{!--Formulario de iniciar sesion--}}
<form class="form-signin" action="" method="POST">
    <div class="mb-4 text-center">
        <h1>Iniciar sesi칩n en Taskily</h1>
        <p>Bienvenido al mejor gestor de proyecto en la web</p>
    </div>

    <div class="form-label-group">
        <input type="email" name="email" id="email" placeholder="jconor@ky.net" required>
        <label for="email">Correo electronico</label>
    </div>
        <div class="form-label-group">
        <input type="password" name="password" id="password" placeholder="contrase침a" required>
        <label for="email">Contrase침a</label>
    </div>

    <div class="mb3">
        <button class="bt btn-lg btn-primary btn-block" type="submit">Iniciar seci칩n</button>
        <p class="text-center text-muted mt-5">@2020 Negocios Web - UNICAH</p>
    </div>

</form>